<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon_48x48"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:name=".main_app.App"
        android:roundIcon="@drawable/app_icon_48x48"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mini_Retail_App"
        tools:targetApi="tiramisu">
        <service android:name="androidx.appcompat.app.AppLocalesMetadataHolderService">
            <meta-data
                android:name="services-locales"
                android:value="true"/>
        </service>

        <activity
            android:name=".main_app.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>